.contentContainer{
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height:calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .boy-coding {
    width: 350px;
  }
}

.hero {
  max-width: 600px;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem; 

    span {
      color: var(--cyan-500)
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;
  }
}

@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
    padding: 0 10rem;
  }

  .hero {
    margin-top: 1.5rem;
  }
}

@media (max-width:375px) {
 .contentContainer {
  padding: 0 1rem;
  .boy-coding {
   width: 300px;
 }
 }
}

@media (max-width:320px) {
  .contentContainer {
   padding: 0 1rem;
   width: 100%;
   .boy-coding {
     width: 200px;
   }
  }
 }

